<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <style>
        body {
            margin: 0;
        }

        #map {
            height: 92vh;
            width: 100%;
        }

        .inputsection {
            width: 35%;
            padding: 1rem;
            height: 92vh;
            box-sizing: border-box;
            overflow-y: scroll;
        }

        .mapview {
            width: 65%;
            height: 100%;
            background-color: red;
        }

        .dashboard {
            display: flex;
        }

        .field_title {
            padding: 0.5rem;
            border: 1px solid black;
        }

        .field_options {
            padding: 0.5rem;
        }

        .load_more {
            padding: 0.5rem;
            text-align: center;
            cursor: pointer;
            display: none;
        }

        .navbar{
            padding: 0.5rem 0rem 0.5rem 2rem;
            height: 5vh;
            font-size: 25px;
            border-bottom: 3px solid gray;
        }
    </style>
    <title>GeoPulse</title>
</head>

<body>
    <div class="navbar">
        GeoPulse
    </div>
    <div class="dashboard">
        <div class="inputsection">
            <div>
                <div class="field_title">District Name</div>
                <div class="options_load_more">
                    <div class="field_options" id="city_options"></div>
                    <div class="load_more" id="load_more_city" onclick="loadMoreCity()">Load More +</div>
                </div>
            </div>
            <div>
                <div class="field_title">Taluka Name</div>
                <div class="options_load_more">
                    <div class="field_options" id="taluka_options"></div>
                    <div class="load_more" id="load_more_taluka" onclick="loadMoreTaluka()">Load More +</div>
                </div>
            </div>
            <div>
                <div class="field_title">Village Name</div>
                <div class="options_load_more">
                    <div class="field_options" id="village_options"></div>
                    <div class="load_more" id="load_more_village" onclick="loadMoreVillage()">Load More +</div>
                </div>
            </div>
        </div>
        <div class="mapview">
            <div id="map"></div>
        </div>
    </div>
    <script>
        let cityPageNo = 1;
        let talukaPageNo = 1;
        let villagePageNo = 1;
        let map;

        const getValues = (nodeList) => {
            return Array.from(nodeList).map(node => node.value).filter(value => value);
        };

        const loadMoreCity = () => {
            const parentElement = document.getElementById("city_options");
            fetch(`${window.location.href}${cityPageNo}`)
                .then(response => response.ok ? response.json() : Promise.reject())
                .then(jsonData => {
                    jsonData.cities.forEach(city => {
                        const newDiv = document.createElement('div');
                        const newInput = document.createElement('input');
                        newInput.type = 'checkbox';
                        newInput.name = 'city';
                        newInput.value = city;
                        newInput.onchange = cityOnChange;
                        const newLabel = document.createElement('label');
                        newLabel.setAttribute('for', 'city');
                        newLabel.textContent = city;
                        newDiv.appendChild(newInput);
                        newDiv.appendChild(newLabel);
                        parentElement.appendChild(newDiv);
                    });
                    cityPageNo++;
                    document.getElementById("load_more_city").style.display = jsonData.has_next ? "block" : "none";
                })
                .catch(console.error);
        };

        const loadMoreTaluka = () => {
            const city = getValues(document.querySelectorAll('input[name="city"]:checked'));
            const parentElement = document.getElementById("taluka_options");
            fetch(`${window.location.href}${city.join()}/${talukaPageNo}`)
                .then(response => response.ok ? response.json() : Promise.reject())
                .then(jsonData => {
                    jsonData.talukas.forEach(taluka => {
                        const newDiv = document.createElement('div');
                        const newInput = document.createElement('input');
                        newInput.type = 'checkbox';
                        newInput.name = 'taluka';
                        newInput.value = taluka;
                        newInput.onchange = talukaOnChange;
                        const newLabel = document.createElement('label');
                        newLabel.setAttribute('for', 'taluka');
                        newLabel.textContent = taluka;
                        newDiv.appendChild(newInput);
                        newDiv.appendChild(newLabel);
                        parentElement.appendChild(newDiv);
                    });
                    talukaPageNo++;
                    document.getElementById("load_more_taluka").style.display = jsonData.has_next ? "block" : "none";
                })
                .catch(console.error);
        };

        const loadMoreVillage = () => {
            const city = getValues(document.querySelectorAll('input[name="city"]:checked'));
            const taluka = getValues(document.querySelectorAll('input[name="taluka"]:checked'));
            const parentElement = document.getElementById("village_options");
            fetch(`${window.location.href}${city.join()}/${taluka.join()}/${villagePageNo}`)
                .then(response => response.ok ? response.json() : Promise.reject())
                .then(jsonData => {
                    jsonData.villages.forEach(village => {
                        const newDiv = document.createElement('div');
                        const newInput = document.createElement('input');
                        newInput.type = 'checkbox';
                        newInput.name = 'village';
                        newInput.value = village.CCODE;
                        newInput.onchange = villageOnChange;
                        const newLabel = document.createElement('label');
                        newLabel.setAttribute('for', 'village');
                        newLabel.textContent = village.village;
                        newDiv.appendChild(newInput);
                        newDiv.appendChild(newLabel);
                        parentElement.appendChild(newDiv);
                    });
                    villagePageNo++;
                    document.getElementById("load_more_village").style.display = jsonData.has_next ? "block" : "none";
                })
                .catch(console.error);
        };

        const cityOnChange = () => {
            clearTimeout(timeoutID);
            timeoutID = setTimeout(() => {
                talukaPageNo = 1;
                document.getElementById("taluka_options").innerHTML = "";
                loadMoreTaluka();
                villagePageNo = 1;
                document.getElementById("village_options").innerHTML = "";
            }, 5);
        };

        const talukaOnChange = () => {
            clearTimeout(timeoutID);
            timeoutID = setTimeout(() => {
                villagePageNo = 1;
                document.getElementById("village_options").innerHTML = "";
                loadMoreVillage();
            }, 5);
        };

        const villageOnChange = (event) => {
            const ccode = event.target.value
            fetch(`${window.location.href}get_cords/${ccode}`)
                .then(response => response.json())
                .then(jsonData => {
                    const polygon = L.polygon(jsonData.coordinates, { color: 'red' });
                    if(event.target.checked)
                    {
                        polygon.addTo(map)
                        map.fitBounds(polygon.getBounds());
                    }
                    else
                    {
                        console.log("erase")
                        map.removeLayer(polygon);
                    }
                })
                .catch(console.error);
        }
        
        const initializeMap = () => {
            const titleLink = "https://tile.openstreetmap.org/{z}/{x}/{y}.png";
            const attribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
            map = L.map("map", {
                center: [18.6833, 74.0300],
                zoom: 9
            });
            L.tileLayer(titleLink, {
                attribution: attribution,
            }).addTo(map);
        };

        window.onload = () => {
            loadMoreCity();
            initializeMap();
        };

        let timeoutID;
    </script>
</body>

</html>
